
  
mark {
    background-color: antiquewhite;
    color: black;
  }
  body {
      
   
    color: red;
  }
  
  h1 {
    
    color: white;
  }
  
  div{
      background :skyblue;
    color: black;
  }
  
  